SECRET_KEY = "abcdefgh"
FLASK_APP = run.py
FLASK_ENV= development # production/development


# Define the database
# Flask-SQLAlchemy
SQLALCHEMY_DATABASE_URI = "mysql+mysqlconnector://username:password@127.0.0.1:3306/flask_blog"


# Static assets
TEMPLATE_FOLDER = "views"